Repository googleapis/java-dataproc, pull requests merged in 2021-06, with the labels that each got.

#567 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: dataproc, automerge, cla: yes

#571 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: dataproc, automerge, cla: yes

#570 chore: release gapic-generator-java v1.0.10
  google-cloud-dataproc/src/test/java/com/google/cloud/dataproc/v1/JobControllerClientTest.java
  google-cloud-dataproc/src/test/java/com/google/cloud/dataproc/v1beta2/JobControllerClientTest.java
  synth.metadata
Labels: api: dataproc, automerge, cla: yes, context: full

#578 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: dataproc, automerge, cla: yes

#580 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: dataproc, automerge, cla: yes

#579 chore: release gapic-generator-java v1.0.11
  google-cloud-dataproc/src/test/java/com/google/cloud/dataproc/v1/AutoscalingPolicyServiceClientTest.java
  google-cloud-dataproc/src/test/java/com/google/cloud/dataproc/v1/ClusterControllerClientTest.java
  google-cloud-dataproc/src/test/java/com/google/cloud/dataproc/v1/JobControllerClientTest.java
  google-cloud-dataproc/src/test/java/com/google/cloud/dataproc/v1/WorkflowTemplateServiceClientTest.java
  google-cloud-dataproc/src/test/java/com/google/cloud/dataproc/v1beta2/AutoscalingPolicyServiceClientTest.java
  google-cloud-dataproc/src/test/java/com/google/cloud/dataproc/v1beta2/ClusterControllerClientTest.java
  google-cloud-dataproc/src/test/java/com/google/cloud/dataproc/v1beta2/JobControllerClientTest.java
  google-cloud-dataproc/src/test/java/com/google/cloud/dataproc/v1beta2/WorkflowTemplateServiceClientTest.java
  synth.metadata
Labels: api: dataproc, automerge, cla: yes, context: full

#581 chore: release gapic-generator-java v1.0.12
  google-cloud-dataproc/src/main/java/com/google/cloud/dataproc/v1/stub/AutoscalingPolicyServiceStubSettings.java
  google-cloud-dataproc/src/main/java/com/google/cloud/dataproc/v1/stub/ClusterControllerStubSettings.java
  google-cloud-dataproc/src/main/java/com/google/cloud/dataproc/v1/stub/JobControllerStubSettings.java
  google-cloud-dataproc/src/main/java/com/google/cloud/dataproc/v1/stub/WorkflowTemplateServiceStubSettings.java
  google-cloud-dataproc/src/main/java/com/google/cloud/dataproc/v1beta2/stub/AutoscalingPolicyServiceStubSettings.java
  google-cloud-dataproc/src/main/java/com/google/cloud/dataproc/v1beta2/stub/ClusterControllerStubSettings.java
  google-cloud-dataproc/src/main/java/com/google/cloud/dataproc/v1beta2/stub/JobControllerStubSettings.java
  google-cloud-dataproc/src/main/java/com/google/cloud/dataproc/v1beta2/stub/WorkflowTemplateServiceStubSettings.java
  synth.metadata
Labels: api: dataproc, automerge, cla: yes, context: full

#582 chore: migrate to owlbot
  .github/.OwlBot.lock.yaml
  .github/.OwlBot.yaml
  google-cloud-dataproc-bom/pom.xml
  google-cloud-dataproc/pom.xml
  owlbot.py
  pom.xml
  samples/snippets/src/main/java/CreateClusterWithAutoscaling.java
  samples/snippets/src/main/java/Quickstart.java
  samples/snippets/src/main/java/SubmitJob.java
  samples/snippets/src/test/java/CreateClusterTest.java
  samples/snippets/src/test/java/CreateClusterWithAutoscalingTest.java
  samples/snippets/src/test/java/QuickstartTest.java
  versions.txt
Labels: api: dataproc, automerge, cla: yes, owlbot:run
